{{!-- nav --}}
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand menu-link" id="login-menu" href="/logout">Logout</a>
  <div class="navbar-brand">
    <a id="title" href="/">YouF&#128125;</a>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button id="search-btn" class="btn my-2 my-sm-0 all-sightings" type="submit" href="/api/sightings">Search</button>
  </form>
</nav>



<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome, <span class="member-name"></span></h2>
      <h2 hidden><span class="member-id"></span></h2>
      <div class="well">
        <form class="registration">
          <h2>Search Sighting History: </h2>          
          <div class="dropdownMenus col-md-12">
            <div class='form-field'>
              <label for='brandFilter'>Country</label>              
              <select id='country-select' class='form-control'>
                <option value="" hidden>Select Country</option>
                {{#if country}}
                {{#each country}}
                <option value="{{this}}" id="country">{{this}}</option>
                {{/each}}
                {{/if}}
              </select>
            </div>

            <div class='form-field'>
              <label for='sizeFilter'>State</label>
              <select id='state-select' class='form-control'>
                <option value="" hidden>Choose State if Apply</option>
                {{#if state}}
                {{#each state}}
                <option value="{{this}}" id="state">{{this}}</option>
                {{/each}}
                {{/if}}
              </select>
            </div>

            <div class='form-field'>
              <label for='colorFilter'>BETWEEN</label>
              <input type="month" id="date1" value = "1900-01" name="bdaymonth">
            </div>

            <div class='form-field'>
              <label for='colorFilter'>AND</label>
              <input type="month" id="date2" value="2050-01" name="bdaymonth">
            </div>
            <div class='form-field'>
              <label for='display-count'>Display Count</label>
              <input type="number" id="count" name="count" min="1" max="100">
            </div>
          </div>
          <button type="submit" class="btn btn-default all-sightings"><a class="navbar-brand">Search</a></button>
           <button type="button" class="btn btn-default "><a href="/registered">RESET</a></button>
        </form>
      </div>
    </div>
  </div>
</div>
      <div class="col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-default">My Favorites</button>
      </div>

<div class="render">
<table class="table table-bordered">
  <thead>
    <tr>

{{!-- welcome message --}}
<br>
<div class=" container  d-flex justify-content-center">
  <div id="welcome" class="row">
    <div class="col-md-12 col-md-offset-3">
      <h2>Welcome, <span class="member-name"></span></h2>
      <br>
      <button id="favs" type="submit" class="btn btn-default">My Favorites</button>
    </div>
  </div>
</div>
<br>
{{!-- table --}}

<table id="table" class=" container table table-hover table-success table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>

      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Country</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Description</th>
      <th scope="col">Shape</th>
      <th scope="col">Duration</th>

      <th scope="col">Date Posted</th>
      <th scope="col">Select Favorites</th>
    </tr>

      <th scope="col">Description</th>
      <<<<<<< HEAD {{!-- <th scope="col">Date Posted</th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th> --}}=======>>>>>>> 02802c1c794201680dc29c1fac147531436375bf
    </tr>
    {{#each data}}
  <tbody>
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{ this.Date }}</td>
      <td>{{ this.Time }}</td>
      <td>{{ this.City }}</td>
      <td>{{ this.State }}</td>
      <td>{{ this.Country }}</td>
      <td>{{ this.Shape }}</td>
      <td>{{ this.Duration }}</td>
      <td>{{ this.Description }}</td>
    </tr>
  </tbody>
  {{/each}}

  </thead>
  <tbody id="child">
  </tbody>
</table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>

  $(document).ready(function () {
    $('.render').hide();      
       
          
    // This file just does a GET request to figure out which user is logged in
    // and updates the HTML on the page
    $.get("/api/user_data").then(function (data) {
      $(".member-name").text(data.firstName + " !");
      $(".member-id").text(data.id);
    });

    let searchForm = $("form.registration");
    let location = $("#country-select");
    let section = $("#state-select");
    let when1 = $("#date1");
    let when2 = $("#date2");
    let count = $("#count");

    searchForm.on("submit", function (event) {
      event.preventDefault();
      console.log(when1.val())
      when1 = when1.val() + "-01"
      when2 = when2.val() + "-01"
      section = section.val()
      var searchData = {
        location: location.val(),
        section: section,
        when1: when1,
        when2: when2,
        count: count.val().trim(),
      };
      if (!searchData.location || !searchData.count) {
        console.log(when1+","+when2)
        alert("Please select at least a country and number of records to display - max 100 records")
        return;
      }
      // If valid parameters are entered
      console.log(searchData)
      searchSighting(searchData.location, searchData.section, searchData.when1, searchData.when2, searchData.count);
      location.val("");
      count.val("");
    });



    // Does a post to the signup route. If successful, we are redirected to the members page
    // Otherwise we log any errors
    function searchSighting(location, section, when1, when2, count) {      
      $.post("/api/sightings", {
        location: location,
        section: section,
        when1: when1,
        when2: when2,
        count: count,
      })
      .then(function(data) {        
        console.log(data)
        $('.render').show();
        $('tbody').children('tr').remove();
        for (i=0; i<data.length; i++) {
        $('#child').append('<tr id="check"><td>'+data[i].Date+'</td><td>'
                           +data[i].Time+'</td><td>'+data[i].Country+
                           '</td><td>'+data[i].State+'</td><td>'+data[i].City+
                           '</td><td>'+data[i].Description+'</td><td>'+data[i].Shape+
                           '</td><td>'+data[i].Duration+'</td><td class="test" >'+data[i].DatePosted+
                           '</td><td><input class="btn btn-primary favorite" id = "'+ data[i].id+'" type="button" value="Favorite"></td></tr>')
        }
   
        
        jQuery(':button').click(function () {
            if (this.value == 'Favorite') {
              this.disabled = true
              entryID= $(this).attr("id")
              userID= $(".member-id").text()
              
              $.post("/api/registered", {
                location: location,
                section: section,
                when1: when1,
                when2: when2,
                count: count,
                userId: userID,
                SightingId: entryID,
              })              
              
            }
        });
           
        })
      .catch(handleLoginErr);
    }

    function handleLoginErr(err) {
      $("#alert .msg").text(err.responseJSON);
      $("#alert").fadeIn(500);
    }
  }) 

</script>